@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height : 100vh;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin: 0;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 15px;
    }

p {
font-family: 'Lexend Deca', sans-serif;
color: hsla(0, 0%, 100%, 0.75);
text-align: left;
width: 200px;
font-size: 14px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
}

.box {
    position: relative;
    overflow: hidden;
    padding: 40px;
    margin:0;
    width: 350px;
    height: 500px;
    display:list-item;
}

.orange-box {
    background-color: hsl(31, 77%, 52%);
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

.blue-box {
    background-color:hsl(184, 100%, 22%);
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

.green-box {
    background-color:hsl(179, 100%, 13%);
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}



.orange-button {
background-color: hsl(0, 0%, 95%);
color:  hsl(31, 77%, 52%);
margin-top: 95px;
    padding: 10px;
    border-radius: 25px;
    border: hsl(0, 0%, 95%);
    align-items: center;
    width: 150px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

.blue-button {
    background-color: hsl(0, 0%, 95%);
    color:hsl(184, 100%, 22%);
    margin-top: 95px;
    padding: 10px;
    border-radius: 25px;
    border: hsl(0, 0%, 95%);
    align-items: center;
    width: 150px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;

}

.green-button {
    background-color: hsl(0, 0%, 95%);
    color:hsl(179, 100%, 13%);
    margin-top: 95px;
    padding: 10px;
    border-radius: 25px;
    border: hsl(0, 0%, 95%);
    align-items: center;
    width: 150px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    

}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }