@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height : 100vh;
    background-color: hsl(0, 0%, 95%);
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin: 0;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 15px;
    }

p {
font-family: 'Lexend Deca', sans-serif;
color: hsla(0, 0%, 100%, 0.75);
text-align: left;
width: 200px;
font-size: 14px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    border-radius: 10px;
}

.box {
    overflow: hidden;
    padding: 40px;
    width: 300px;
    height: 500px;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

.orange-box {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.blue-box {
    background-color:hsl(184, 100%, 22%);
}

.green-box {
    background-color:hsl(179, 100%, 13%); 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button {
    margin-top: 95px;
    padding: 10px;
    border-radius: 25px;
    border: hsl(0, 0%, 95%);
    align-items: center;
    width: 150px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    outline :none;
    cursor: pointer;

}

button:hover { background-color: #e2e1dd; }

.orange-button {
background-color: hsl(0, 0%, 95%);
color:  hsl(31, 77%, 52%);
}

.blue-button {
    background-color: hsl(0, 0%, 95%);
    color:hsl(184, 100%, 22%);
}

.green-button {
    background-color: hsl(0, 0%, 95%);
    color:hsl(179, 100%, 13%);
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.attribution a { color: hsl(228, 45%, 44%); }